body {
    background-color: rgb(241, 241, 241);
}
h1, h2, h3 {
    margin-top: 0;
}
input {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 4px;
}
th {
    padding: 5px;
    font-weight: normal;
}
tr {
    text-align: center;
}
button {
    outline:none;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}
button:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}
table {
    border: 1px solid white;
}
div {
    padding: 5px;
}
.inputbody {
    position: absolute;
    left:20%;
    border: 2px solid white;
    border-top: 0px;
    border-right: 0px;
}
.resultbody {
    position: absolute;
    right: 20%;
    border: 2px solid white;
    border-top: 0px;
    border-left: 0px;
}
.stepdiv {
    margin-bottom: 20px;
    font-size: 13px;
}
.resultdiv {
    margin-top: 15px;
    font-size: 15px;
}

#blazor-error-ui {
    display: none;
}
#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
